<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodingSeb.ExpressionEvaluator" version="1.4.13" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net452" />
</packages>